{% extends 'base.html'%}
{% block head %}
    <title>
        Принтеры ГЛК "Роза Хутор"
    </title>
    <style>
        table {
            width: 100%; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        a {
            color: black; /* Цвет обычной ссылки */ 
            text-decoration: none; /* Убираем подчеркивание у ссылок */
        }
    </style>
    <style type="text/css">
        .sl {font-size:1px;color:#333333;width:100%;border-width: 1px;border-color: #ebab3a;border-collapse: collapse;}
        .sl th {font-size:15px;background-color:DarkOrange;border-width: 1px;padding: 8px;border-style: solid;border-color: #ebab3a;text-align:center;}
        .sl tr {background-color:LightGoldenrodYellow;}
        .sl td {font-size:15px;border-width: 1px;padding: 8px;border-style: solid;border-color: #ebab3a;}
        .sl tr:hover {background-color:LightSalmon;}
        .sl td:hover {background-color:LightSalmon;}
        .sl tr:nth-child(odd){background-color: #ffffff;}
        .sl tr td a {
            display:block;
            height:100%;
            width:100%;
        }
        .sl tr td {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
{% endblock %}
{% block content %}

<p align=center> <font size=8>Сетевые принтеры ГЛК "Роза Хутор" </p>
<br>
<table border=1 align=center >
<td>
<table border=1 align=center >

<table class="sl" border="1">
 <th align=center><b> ПП </b> </th><th align=center><b> Принтер </b> </th><th> <b> IP Address </b></th> <tr>
<td></td><td colspan=2 align=center><b>Плоттеры</b></td><tr>

 <td align=center>1</td><td><a href="http:\\10.144.38.197" target="_blank">HP Designjet 500 plus 42 (НСКДА 2 этаж, плоттер А0)</a> </td><td> 10.144.38.197</td> <tr>
 <td align=center>2</td><td><a href="http:\\10.144.23.198" target="_blank">HP Designjet T795 44in (4 этаж здания 23 плоттер А0)</a> </td><td> 10.144.23.198</td> <tr>

<td colspan=2 align=center><b>МФУ установленные на этажах</b></td><tr> 


<td align=center>1</td><td> <a href="http:\\10.144.7.200" target="_blank">  Xerox_7120_nb_7b_infocenter (под мостом)                   </a> </td> <td> 10.144.7.200   </td> <tr>
<td align=center>2</td><td> <a href="http:\\10.144.32.165" target="_blank"> Xerox_7830_32b_3fl_1 (Ратуша, 3 этаж, цветное МФУ, А3-А4)  </a> </td> <td> 10.144.32.165  </td> <tr>
<td align=center>3</td><td> <a href="http:\\10.144.32.201" target="_blank"> Xerox_7120_32b_2fl_1 (Ратуша, 2 этаж, цветное МФУ, А3-А4)  </a> </td> <td> 10.144.32.201  </td> <tr>
<td align=center>4</td><td> <a href="http:\\10.144.32.187" target="_blank"> Xerox_5855_32b_2fl_2 (Ратуша, 2 этаж, Ч/Б МФУ, А3-А4)      </a> </td> <td> 10.144.32.187  </td> <tr>
<td align=center>5</td><td> <a href="http:\\10.144.23.194" target="_blank"> Xerox_7530_23b_3fl (23 здание, 3 этаж, цветное МФУ, А3-А4)    </a> </td> <td> 10.144.23.194  </td> <tr>
<td align=center>6</td><td> <a href="http:\\10.144.32.178" target="_blank"> Xerox_5855_32b_3fl_2 (Ратуша, 3 этаж,цветное МФУ,А3-А4)    </a> </td> <td> 10.144.32.178  </td> <tr>
<td align=center>7</td><td> <a href="http:\\10.144.32.202" target="_blank"> Xerox_7120_32b_6fl (Ратуша, 6 этаж, цветное МФУ, А3-А4)    </a> </td> <td> 10.144.32.202  </td> <tr>
<td align=center>8</td><td> <a href="http:\\10.144.38.201" target="_blank"> Xerox_7120_38b_2fl_1 (НСКДА, 2 этаж, цветное МФУ, А3-А4)   </a> </td> <td> 10.144.38.201  </td> <tr>
<td align=center>9</td><td> <a href="http:\\10.144.164.196"target="_blank"> Xerox_5855_64b_2fl_1 (ГОД, зд 64, 2 этаж, Ч/Б МФУ, А3-А4)  </a> </td> <td> 10.144.164.196 </td> <tr>
<td align=center>10</td><td> <a href="http:\\10.144.15.199" target="_blank"> Xerox_7425_15b_1fl(Отдел Пропусков, цветное МФУ, А3-А4)    </a> </td> <td> 10.144.15.199  </td> <tr>
<td align=center>11</td><td><a href="http:\\10.144.23.197" target="_blank"> Xerox_7120_23b_4fl_1(23 здание, 4 этаж, цветное МФУ, А3-А4)</a> </td> <td> 10.144.23.197  </td> <tr>
<td align=center>12</td><td><a href="http:\\10.144.23.177" target="_blank"> Xerox_7120_23b_5fl(23 здание, 5 этаж, цветное МФУ, А3-А4)</a> </td> <td> 10.144.23.177  </td> <tr>
<td align=center>13</td><td><a href="http:\\10.144.23.184" target="_blank"> Xerox_5855_23b_6fl_1(23 здание, 6 этаж, Ч/Б МФУ, А3-А4)    </a> </td> <td> 10.144.23.197  </td> <tr>
<td align=center>14</td><td><a href="http:\\10.144.23.194" target="_blank"> Xerox_7530_23b_3fl (23 здание, 3 этаж, цветное МФУ, А3-А4)    </a> </td> <td> 10.144.23.194  </td> <tr>

<td colspan=2 align=center><b>МФУ и принтеры</b></td><tr>

<td align=center>1</td><td><a href="http://172.17.7.6	     " target="_blank">	Kyocera_M2835dw_8b_1fl  </a> </td><td>	172.17.7.6   	</td> <tr>
<td align=center>1</td><td><a href="http://10.144.100.198	 " target="_blank">	Brother_6690_OD_100b_2fl</a> </td><td>	10.144.100.198	</td> <tr>
<td align=center>2</td><td><a href="http://10.144.23.193	 " target="_blank">	Canon_C3520_23b_5fl	    </a> </td><td>	10.144.23.193	</td> <tr>
<td align=center>3</td><td><a href="http://10.144.164.198	 " target="_blank">	HP_1522_od_64b_2fl_207  </a> </td><td>	10.144.164.198	</td> <tr>
<td align=center>4</td><td><a href="http://10.144.32.184	 " target="_blank">	HP_1536_32b_2fl	        </a> </td><td>	10.144.32.184	</td> <tr>
<td align=center>5</td><td><a href="http://10.144.23.183	 " target="_blank">	HP_1536_23b_2fl_201	    </a> </td><td>	10.144.23.183	</td> <tr>
<td align=center>6</td><td><a href="http://10.144.23.199	 " target="_blank">	HP_1536_23b_2fl_202	    </a> </td><td>	10.144.23.199	</td> <tr>
<td align=center>7</td><td><a href="http://10.144.23.181	 " target="_blank">	HP_1536_23b_3fl         </a> </td><td>	10.144.23.181	</td> <tr>
<td align=center>8</td><td><a href="http://10.144.164.199	 " target="_blank">	HP_1536_od_64b_garage   </a> </td><td>	10.144.164.199	</td> <tr>
<td align=center>9</td><td><a href="http://172.17.7.5	     " target="_blank">	HP_2015_37b_PPS	        </a> </td><td>	172.17.7.5  	</td> <tr>
<td align=center>10</td><td><a href="http://10.144.32.195	 " target="_blank">	HP_2035_32b_2fl_2	    </a> </td><td>	10.144.32.195	</td> <tr>
<td align=center>11</td><td><a href="http://10.144.32.169	 " target="_blank">	HP_2035_32b_shop	    </a> </td><td>	10.144.32.169	</td> <tr>
<td align=center>12</td><td><a href="http://10.144.32.171	 " target="_blank">	HP_2035_32b_2fl_221  	</a> </td><td>	10.144.32.171	</td> <tr>
<td align=center>13</td><td><a href="http://10.144.32.197	 " target="_blank">	HP_2035_32b_2fl_205	    </a> </td><td>	10.144.32.197	</td> <tr>
<td align=center>14</td><td><a href="http://10.144.32.166	 " target="_blank">	HP_M2035_32b_3fl_301	</a> </td><td>	10.144.32.166	</td> <tr>
<td align=center>15</td><td><a href="http://10.144.199.199	 " target="_blank">	HP_2035_beach_office	</a> </td><td>	10.144.199.199	</td> <tr>
<td align=center>16</td><td><a href="http://10.144.32.194	 " target="_blank">	HP_P2035n_32b_206	    </a> </td><td>	10.144.32.194	</td> <tr>
<td align=center>17</td><td><a href="http://172.17.7.223	 " target="_blank">	HPLJ_3055_32b_1fl	    </a> </td><td>	172.17.7.223	</td> <tr>
<td align=center>18</td><td><a href="http://10.144.32.185	 " target="_blank">	HPLJ_P2035n_32b_2fl_218	</a> </td><td>	10.144.32.185	</td> <tr>
<td align=center>19</td><td><a href="http://10.168.7.197	 " target="_blank">	HPLJ2035_7b_1fl_1	    </a> </td><td>	10.168.7.197	</td> <tr>
<td align=center>20</td><td><a href="http://172.17.6.82	     " target="_blank">	Kyocera_1028_10b_sklad	</a> </td><td>	172.17.6.82 	</td> <tr>
<td align=center>21</td><td><a href="http://10.144.138.199	 " target="_blank">	Kyocera_1128_OD_38b_1fl	</a> </td><td>	10.144.138.199	</td> <tr>
<td align=center>22</td><td><a href="http://10.144.23.191	 " target="_blank">	Kyocera_P2235_23b_6fl_611_1_OGD </a> </td><td>	10.144.23.191	</td> <tr>
<td align=center>23</td><td><a href="http://10.144.38.193	 " target="_blank">	Kyocera_P2235dn_38b_info	    </a> </td><td>	10.144.38.193	</td> <tr>
<td align=center>24</td><td><a href="http://10.144.38.198	 " target="_blank">	Kyocera_M2035_38b_2fl           </a> </td><td>	10.144.38.198	</td> <tr>
<td align=center>25</td><td><a href="http://10.144.23.185	 " target="_blank">	Kyocera_M2035dn_23b_6fl_611_2   </a> </td><td>	10.144.23.185	</td> <tr>
<td align=center>26</td><td><a href="http://10.144.23.189	 " target="_blank">	Kyocera_M2035_23b_5fl_509_1	    </a> </td><td>	10.144.23.189	</td> <tr>
<td align=center>27</td><td><a href="http://10.144.251.198	 " target="_blank">	Kyocera_M2035dn_ZF_Snow         </a> </td><td>	10.144.251.198	</td> <tr>
<td align=center>28</td><td><a href="http://10.144.251.197	 " target="_blank">	Kyocera_M2035dn_ZF_Sklad	    </a> </td><td>	10.144.251.197	</td> <tr>
<td align=center>28</td><td><a href="http://10.144.23.188	 " target="_blank">	Kyocera_M2735dn_23b_512	    </a> </td><td>	10.144.23.188	</td> <tr>
<td align=center>29</td><td><a href="http://10.144.100.191	 " target="_blank">	Kyocera_M2040dn_100b_info	    </a> </td><td>	10.144.100.191	</td> <tr>
<td align=center>30</td><td><a href="http://10.144.23.179	 " target="_blank">	Kyocera_M2040dn_23b_6fl_611_2   </a> </td><td>	10.144.23.179	</td> <tr>
<td align=center>30</td><td><a href="http://10.144.23.178	 " target="_blank">	Kyocera_M2040dn_23b_6fl_611_1   </a> </td><td>	10.144.23.178	</td> <tr>
<td align=center>30</td><td><a href="http://10.144.23.190	 " target="_blank">	Kyocera_M2040_23b_6fl_612       </a> </td><td>	10.144.23.190	</td> <tr>
<td align=center>31</td><td><a href="http://10.144.23.182	 " target="_blank">	Kyocera_M2040_23b_6fl           </a> </td><td>	10.144.23.182	</td> <tr>
<td align=center>31</td><td><a href="http://10.144.23.180	 " target="_blank">	Kyocera_M2040dn_23b_509          </a> </td><td>	10.144.23.180	</td> <tr>
<td align=center>32</td><td><a href="http://172.17.7.249	 " target="_blank">	Kyocera_M2040dn_10b_1fl_concierge</a> </td><td>	172.17.7.249	</td> <tr>
<td align=center>33</td><td><a href="http://10.144.32.193	 " target="_blank">	Kyocera_M2040dn_32b_1fl_103      </a> </td><td>	10.144.32.193	</td> <tr>
<td align=center>34</td><td><a href="http://10.144.32.177	 " target="_blank">	Kyocera_P2040dn_32b_3fl_316      </a> </td><td>	10.144.32.177	</td> <tr>
<td align=center>35</td><td><a href="http://10.144.37.200	 " target="_blank">	Kyocera_M2040dn_37b_1fl          </a> </td><td>	10.144.37.200	</td> <tr>
<td align=center>36</td><td><a href="http://10.144.38.195	 " target="_blank">	Kyocera_M2040dn_38b_2fl_transport</a> </td><td>	10.144.38.195	</td> <tr>
<td align=center>37</td><td><a href="http://10.144.32.198	 " target="_blank">	Kyocera_M2040dn_32b_1fl_sale	 </a> </td><td>	10.144.32.198	</td> <tr>
<td align=center>38</td><td><a href="http://10.144.32.168	 " target="_blank">	Kyocera_M2040dn_32b_3fl_315	     </a> </td><td>	10.144.32.168	</td> <tr>
<td align=center>39</td><td><a href="http://10.144.100.195	 " target="_blank">	Kyocera_M2040dn_Berloga_Buh	     </a> </td><td>	10.144.100.195	</td> <tr>
<td align=center>40</td><td><a href="http://10.144.100.190	 " target="_blank">	Kyocera_M2040dn_Berloga_manager	 </a> </td><td>	10.144.100.190	</td> <tr>
<td align=center>41</td><td><a href="http://172.17.7.38	     " target="_blank">	Kyocera_M2040dn_OD_36b_2fl  	 </a> </td><td>	172.17.7.38 	</td> <tr>
<td align=center>42</td><td><a href="http://10.144.164.197	 " target="_blank">	Kyocera_M2040dn_OD_64b_206	     </a> </td><td>	10.144.164.197	</td> <tr>
<td align=center>43</td><td><a href="http://10.144.102.199	 " target="_blank">	Kyocera_M2040dn_Varezhka	     </a> </td><td>	10.144.102.199	</td> <tr>
<td align=center>44</td><td><a href="http://10.144.252.197	 " target="_blank">	Kyocera_M2040dn_VGK_Avalanche	 </a> </td><td>	10.144.252.197	</td> <tr>
<td align=center>45</td><td><a href="http://10.144.252.196	 " target="_blank">	Kyocera_M2040dn_VGK_vysota_mgr 	 </a> </td><td>	10.144.252.196	</td> <tr>
<td align=center>46</td><td><a href="http://10.144.250.198	 " target="_blank">	Kyocera_M2040dn_ZFOB_RCP	     </a> </td><td>	10.144.250.198	</td> <tr>
<td align=center>47</td><td><a href="http://10.144.250.197	 " target="_blank">	Kyocera_M2040dn_ZFOB_RCP2	     </a> </td><td>	10.144.250.197	</td> <tr>
<td align=center>48</td><td><a href="http://10.144.23.196	 " target="_blank">	Kyocera_M2535_23b_3fl	         </a> </td><td>	10.144.23.196	</td> <tr>
<td align=center>49</td><td><a href="http://10.144.23.187	 " target="_blank">	Kyocera_M2535_23b_5fl_509_2      </a> </td><td>	10.144.23.187	</td> <tr>
<td align=center>50</td><td><a href="http://10.144.7.198	 " target="_blank">	Kyocera_M2535_7b_1fl             </a> </td><td>	10.144.7.198	</td> <tr>
<td align=center>51</td><td><a href="http://10.144.32.175	 " target="_blank">	Kyocera_M2535_32b_4fl	         </a> </td><td>	10.144.32.175	</td> <tr>
<td align=center>52</td><td><a href="http://10.144.14.199	 " target="_blank">	Kyocera_M2535dn_14_b_Sklad	     </a> </td><td>	10.144.14.199	</td> <tr>
<td align=center>53</td><td><a href="http://10.144.23.195	 " target="_blank">	Kyocera_M2535dn_23b_214	         </a> </td><td>	10.144.23.195	</td> <tr>
<td align=center>54</td><td><a href="http://10.144.100.193	 " target="_blank">	Kyocera_M2540_100b_0fl	         </a> </td><td>	10.144.100.193	</td> <tr>
<td align=center>55</td><td><a href="http://10.144.32.167	 " target="_blank">	Kyocera_M2540dn_32b_1fl_105	     </a> </td><td>	10.144.32.167	</td> <tr>
<td align=center>56</td><td><a href="http://10.144.2.199	 " target="_blank">	Kyocera_M3040dn_2b_ice	         </a> </td><td>	10.144.2.199	</td> <tr>
<td align=center>57</td><td><a href="http://10.168.23.198	 " target="_blank">	Kyocera_M2040_23b_museum	     </a> </td><td>	10.168.23.198	</td> <tr>
<td align=center>58</td><td><a href="http://10.144.100.199	 " target="_blank">	Kyocera_P2135dn_100b_2fl_Sport-Dept</a> </td><td>10.144.100.199	</td> <tr>
<td align=center>59</td><td><a href="http://10.144.32.199	 " target="_blank">	Kyocera_P2135dn_32b_3fl_HR	       </a> </td><td>10.144.32.199	</td> <tr>
<td align=center>60</td><td><a href="http://172.17.9.221	 " target="_blank">	PPS_HPLJ_3390_38b	               </a> </td><td>172.17.9.221	</td> <tr>
<td align=center>61</td><td><a href="http://10.168.212.199	 " target="_blank">	PPS_HPLJ_M1536_Lift_D	         </a> </td><td>	10.168.212.199	</td> <tr>
<td align=center>62</td><td><a href="http://10.168.132.199	 " target="_blank">	PPS_HPLJ_P2015_132b_2fl	         </a> </td><td>	10.168.132.199	</td> <tr>
<td align=center>63</td><td><a href="http://10.168.7.196	 " target="_blank">	PPS_HPLJ_P2035_bridge	         </a> </td><td>	10.168.7.196	</td> <tr>
<td align=center>64</td><td><a href="http://172.17.9.226	 " target="_blank">	PPS_HPLJ_P3010_24b	             </a> </td><td>	172.17.9.226	</td> <tr>
<td align=center>65</td><td><a href="http://10.168.153.199	 " target="_blank">	PPS_Kyocera_2040dn_OD_53b_fitness</a> </td><td>	10.168.153.199	</td> <tr>
<td align=center>66</td><td><a href="http://10.168.38.195	 " target="_blank">	PPS_Kyocera_2135_38b_prokat_1	 </a> </td><td>	10.168.38.195	</td> <tr>
<td align=center>67</td><td><a href="http://10.168.38.196	 " target="_blank">	PPS_KYOCERA_2135_38b_prokat_2	 </a> </td><td>	10.168.38.196	</td> <tr>
<td align=center>68</td><td><a href="http://10.168.100.194	 " target="_blank">	PPS_Kyocera_2235dn_100b_1fl_POS62</a> </td><td>	10.168.100.194	</td> <tr>
<td align=center>69</td><td><a href="http://10.168.100.195	 " target="_blank">	PPS_Kyocera_2235dn_100b_1fl_RNT25</a> </td><td>	10.168.100.195	</td> <tr>
<td align=center>70</td><td><a href="http://10.168.100.196	 " target="_blank">	PPS_Kyocera_2235dn_100b_1fl_RNT26</a> </td><td>	10.168.100.196	</td> <tr>
<td align=center>71</td><td><a href="http://10.168.100.197	 " target="_blank">	PPS_Kyocera_2235dn_100b_1fl_RNT27</a> </td><td>	10.168.100.197	</td> <tr>
<td align=center>72</td><td><a href="http://10.168.100.198	 " target="_blank">	PPS_Kyocera_2235dn_100b_1fl_RNT28</a> </td><td>	10.168.100.198	</td> <tr>
<td align=center>73</td><td><a href="http://172.17.9.249	 " target="_blank">	PPS_KYOCERA_2235dn_24b_1fl_skischool</a> </td><td>	172.17.9.249	</td> <tr>
<td align=center>74</td><td><a href="http://10.168.199.199	 " target="_blank">	PPS_Kyocera_2235dn_beach_1	        </a> </td><td>	10.168.199.199	</td> <tr>
<td align=center>75</td><td><a href="http://172.17.9.188	 " target="_blank">	PPS_Kyocera_2235dn_od_3b_0fl_POS63	</a> </td><td>	172.17.9.188	</td> <tr>
<td align=center>76</td><td><a href="http://172.17.9.240	 " target="_blank">	PPS_KYOCERA_M2040_18b_0fl_prokat	</a> </td><td>	172.17.9.240	</td> <tr>
<td align=center>77</td><td><a href="http://172.17.9.235	 " target="_blank">	PPS_KYOCERA_M2040_20b_1fl_prokat	</a> </td><td>	172.17.9.235	</td> <tr>
<td align=center>78</td><td><a href="http://10.168.23.199	 " target="_blank">	PPS_KYOCERA_M2040_23b_0fl_museum	</a> </td><td>	10.168.23.199	</td> <tr>
<td align=center>79</td><td><a href="http://172.17.9.237	 " target="_blank">	PPS_KYOCERA_M2040_24b_1fl_prokat	</a> </td><td>	172.17.9.237	</td> <tr>
<td align=center>80</td><td><a href="http://10.168.247.199	 " target="_blank">	PPS_KYOCERA_M2040_rodelban_up	    </a> </td><td>	10.168.247.199	</td> <tr>
<td align=center>81</td><td><a href="http://172.17.9.172	 " target="_blank">	PPS_KYOCERA_M2040_18b_1fl_consierge_Service	</a> </td><td>	172.17.9.172	</td> <tr>
<td align=center>82</td><td><a href="http://172.17.9.225	 " target="_blank">	PPS_KYOCERA_M2040_21b_1fl_consierge_Service	</a> </td><td>	172.17.9.225	</td> <tr>
<td align=center>83</td><td><a href="http://172.17.9.239	 " target="_blank">	PPS_KYOCERA_M2040_24b_1fl_consierge_Service	</a> </td><td>	172.17.9.239	</td> <tr>
<td align=center>84</td><td><a href="http://10.144.38.194	 " target="_blank">	PPS_Kyocera_M2040dn_38b_Kassa	            </a> </td><td>	10.144.38.194	</td> <tr>
<td align=center>85</td><td><a href="http://10.168.104.199	 " target="_blank">	PPS_KYOCERA_M2040_OD_4b_1fl_consierge_Service</a> </td><td>	10.168.104.199	</td> <tr>
<td align=center>86</td><td><a href="http://10.168.102.199	 " target="_blank">	PPS_KYOCERA_M2040_OD_2b_1fl_consierge_Service</a> </td><td>	10.168.102.199	</td> <tr>
<td align=center>87</td><td><a href="http://10.168.38.199	 " target="_blank">	PPS_KYOCERA_M2535_38b	            </a> </td><td>	10.168.38.199	</td> <tr>
<td align=center>88</td><td><a href="http://10.168.38.197	 " target="_blank">	PPS_KYOCERA_M2535_38b_prokat_3	    </a> </td><td>	10.168.38.197	</td> <tr>
<td align=center>89</td><td><a href="http://10.168.7.199	 " target="_blank">	PPS_KYOCERA_M2535_7b	            </a> </td><td>	10.168.7.199	</td> <tr>
<td align=center>90</td><td><a href="http://10.168.7.198	 " target="_blank">	PPS_KYOCERA_M2535_7b_3	            </a> </td><td>	10.168.7.198	</td> <tr>
<td align=center>91</td><td><a href="http://172.17.9.230	 " target="_blank">	PPS_KYOCERA_P2135_37b_prokat_1	    </a> </td><td>	172.17.9.230	</td> <tr>
<td align=center>92</td><td><a href="http://172.17.9.242	 " target="_blank">	PPS_KYOCERA_P2235_18b_0fl_prokat	</a> </td><td>	172.17.9.242	</td> <tr>
<td align=center>93</td><td><a href="http://172.17.9.236	 " target="_blank">	PPS_KYOCERA_P2235_20b_1fl_prokat	</a> </td><td>	172.17.9.236	</td> <tr>
<td align=center>94</td><td><a href="http://172.17.9.238	 " target="_blank">	PPS_KYOCERA_P2235_24b_1fl_prokat	</a> </td><td>	172.17.9.238	</td> <tr>
<td align=center>95</td><td><a href="http://10.168.100.191	 " target="_blank">	PPS_Xerox_3550_100b	                </a> </td><td>	10.168.100.191	</td> <tr>
<td align=center>96</td><td><a href="http://10.145.32.199	 " target="_blank">	RICOH_4310N_32b_306             	</a> </td><td>	10.145.32.199	</td> <tr>
<td align=center>97</td><td><a href="http://10.144.1.27      " target="_blank">	RICOH_MP_C2011_rhall_2fl_260	    </a> </td><td>	10.144.1.27	    </td> <tr>
<td align=center>98</td><td><a href="http://10.144.32.181	 " target="_blank">	Xerox_3220_32b_1fl	                </a> </td><td>	10.144.32.181	</td> <tr>
<td align=center>99</td><td><a href="http://10.144.32.190	 " target="_blank">	Xerox_3220_32b_3fl_301	            </a> </td><td>	10.144.32.190	</td> <tr>
<td align=center>100</td><td><a href="http://172.17.7.85	 " target="_blank">	Xerox_3220_37b_1fl	                </a> </td><td>	172.17.7.85 	</td> <tr>
<td align=center>101</td><td><a href="http://10.144.38.196	 " target="_blank">	Xerox_3220_38b_2fl_3	            </a> </td><td>	10.144.38.196	</td> <tr>
<td align=center>102</td><td><a href="http://172.17.7.65	 " target="_blank">	Xerox_3220_od_2b_2fl_1	            </a> </td><td>	172.17.7.65 	</td> <tr>
<td align=center>103</td><td><a href="http://172.27.142.82	 " target="_blank">	Xerox_3220_od_31b_1fl_fs	        </a> </td><td>	172.27.142.82	</td> <tr>
<td align=center>104</td><td><a href="http://172.27.142.83	 " target="_blank">	Xerox_3220_od_31b_1fl_gm	        </a> </td><td>	172.27.142.83	</td> <tr>
<td align=center>105</td><td><a href="http://172.27.142.84	 " target="_blank">	Xerox_3220_od_31b_1fl_sa	        </a> </td><td>	172.27.142.84	</td> <tr>
<td align=center>106</td><td><a href="http://10.144.164.193	 " target="_blank">	Xerox_3220_OD_64b_avalanche	        </a> </td><td>	10.144.164.193	</td> <tr>
<td align=center>107</td><td><a href="http://10.144.247.199	 " target="_blank">	Xerox_3220_rb_up	                </a> </td><td>	10.144.247.199	</td> <tr>
<td align=center>108</td><td><a href="http://10.144.100.196	 " target="_blank">	Xerox_3550_100b_2fl_buh	            </a> </td><td>	10.144.100.196	</td> <tr>
<td align=center>109</td><td><a href="http://10.144.14.198	 " target="_blank">	Xerox_3550_14b_Sklad	            </a> </td><td>	10.144.14.198	</td> <tr>
<td align=center>110</td><td><a href="http://10.144.23.186	 " target="_blank">	Xerox_3550_23b_6fl_611_4	        </a> </td><td>	10.144.23.186	</td> <tr>
<td align=center>111</td><td><a href="http://10.144.32.192	 " target="_blank">	Xerox_3550_32b_2fl_1	            </a> </td><td>	10.144.32.192	</td> <tr>
<td align=center>112</td><td><a href="http://10.144.32.174	 " target="_blank">	Xerox_3550_32b_5fl	                </a> </td><td>	10.144.32.174	</td> <tr>
<td align=center>113</td><td><a href="http://10.144.164.194	 " target="_blank">	Xerox_3550_OD_64b_2fl           	</a> </td><td>	10.144.164.194	</td> <tr>
<td align=center>114</td><td><a href="http://10.144.253.199	 " target="_blank">	Xerox_3550_Sklad_Sum       	        </a> </td><td>	10.144.253.199	</td> <tr>
<td align=center>115</td><td><a href="http://10.144.251.196	 " target="_blank">	Xerox_3550_Sklad_ZF       	        </a> </td><td>	10.144.251.196	</td> <tr>

<td align=center>116</td><td><a href="http://10.144.164.192	 " target="_blank">	Xerox_6600_od_64b_2fl   </a> </td><td>	10.144.164.192	</td> <tr>
<td align=center>117</td><td><a href="http://172.27.142.80	 " target="_blank">	Xerox_7225_od_31b_1fl_1 </a> </td><td>	172.27.142.80	</td> <tr>
<td align=center>118</td><td><a href="http://172.17.7.89	 " target="_blank">	Xerox_7225_Rosaspings   </a> </td><td>	172.17.7.89	</td> <tr>






<td colspan=2 align=center><b>Другие</b></td><tr>
</table>

<td widht=100% valign=top>
<table class="sl" border=1 width=100%>
<th align=center colspan=2><b>Используемые картриджи</b></th><tr>
<td> <b>Наименование принтера </b></td><td><b>Картридж</b></td><tr>
<!--  указываются принтеры и их картриджы -->



<td><a href="" target="_blank">HP LJ 2727</a></td><td><a href="" target="_blank">Q7553A (53A)</a></td><tr>
<td><a href="" target="_blank">HP LJ 3390</a></td><td><a href="" target="_blank">Q5949A (49A) </a></td><tr>
<td><a href="" target="_blank">HP LJ 2015</a></td><td><a href="" target="_blank">Q7553A (53A)</a></td><tr>
<td><a href="" target="_blank">HP LJ p2035n</a></td><td><a href="" target="_blank">CE505A (05A)</a></td><tr>
<td><a href="" target="_blank">HP LJ M1536dnf MFP</a></td><td><a href="" target="_blank">CE278A(78A)</a></td><tr>
<td><a href="" target="_blank">HP LJ Pro 400</a></td><td><a href="" target="_blank">CF280A (80A) </a></td><tr>
<td><a href="" target="_blank">HP LJ 3055</a></td><td><a href="" target="_blank">Q2612A (12A) </a></td><tr>



<td><a href="" target="_blank">Kyocera FS-1028</a></td><td rowspan=2><a href="" target="_blank">TK-130</a></td><tr>
<td><a href="" target="_blank">Kyocera FS-1128</a></td><tr>
<td><a href="" target="_blank">Kyocera m2040dn</a></td><td><a href="" target="_blank">ТК-1170</a></td><tr>
<td><a href="" target="_blank">Kyocera m2035dn</a></td><td rowspan=2><a href="" target="_blank">TK-1140</a></td><tr>
<td><a href="" target="_blank">Kyocera m2535dn</a></td><tr>
<td><a href="" target="_blank">Kyocera p2135dn</a></td><td><a href="" target="_blank">TK-170</a></td><tr>
<td><a href="" target="_blank">Kyocera p2235dn</a></td><td><a href="" target="_blank">TK-1150</a></td><tr>
<td><a href="" target="_blank">Kyocera p2040dn</a></td><td><a href="" target="_blank">TK-1160</a></td><tr>
<td><a href="" target="_blank">Kyocera m2835dw</a></td><td><a href="" target="_blank">TK-1200</a></td><tr>

</table>
</table>
{% endblock %}